body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;


}

.logo {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo span {
    color: #2e2f42;
}

ul,
ol {
    list-style-type: none;
}

.link-studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}



a {
    text-decoration: none;
    color: #2E2F42;
}

header {
    font-family: 'Raleway', sans-serif;
}

header a:hover,
header a:focus {
    color: #404BBF;
}

header a {
    color: #434455;
}

h1 {
    font-size: 56px;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 12px;
}







button:hover {
    background-color: #404BBF;
}

.strategy-h-three {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-section-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #f4f4FD;
}

.team-section-h-second {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    /* Перша буква буле великою capitalize*/
    text-transform: capitalize;
    color: #2E2F42;
}

.team-section-line-one {
    background-color: #FFFFFF;

}

.team-section-line-one-h-thre {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header settings */
.menu-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav ul {
    display: flex;
    gap: 40px;

}

.adress-info {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-info ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

/*  top baner */
.top-banner {
    background-color: #2E2F42;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 188px 0;
}


.top-banner-h-one {
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.top-banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* button in top banner */
.button-order {
    background-color: #4D5AE5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}

.button-order:focus {
    background-color: #404bbf;
}

/* container four Strategy, Punctuality... */
.strategy .container {
    display: flex;
    flex-direction: column;
}

.strategy ul {
    display: flex;
    gap: 24px;
    padding: 120px 0;
}

/* Our team container */
.team-section .container {
    display: flex;
    flex-direction: column;
}

.team-section ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 120px;
}

.team-section ul h3,
.team-section ul p {
    text-align: center;
}

/*visually-hidden text "Our Tema"  */
/* .team-section-h-second { */
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* for section Portfoliol */
.porportfolio .container {
    display: flex;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;
    padding: 0;
    margin: 0;
}


.portfolio-list li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: solid 1px #E7E9FC;
    min-height: 420px;
}

.portfolio {
    margin: 120px 0;
}

.portfolio .team-section-h-second {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 72px;
    text-shadow: 2px 2px 4px #2e2f42;
    color: #2e2f42;
}

.footer-style {
    background-color: #2E2F42;
    color: white;
    display: flex;
}

.footer-style .container-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0 100px 156px;

}

.logo-footer {
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    /* uppercase - текст усі букви великі */
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.logo-footer span {
    color: #f4f4FD;
}

.footer-p {
    line-height: 1.5;
    color: #f4f4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}